<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sunshine Farmer's Market</title>
  <link rel="stylesheet" href="farmer.css">
</head>
<body>
  <!-- Farmer's market logo -->
    <a href="/" title="Return to Home Page" id="farmerlogo">
      <img src="/images/market_logo.png"
           alt="The food basket of the nation"
      width="200" height="200">
    </a>
    <!-- main container -->
  <!-- Navbar -->
    <div id="container" class="clearFix">
      <div id="main-content">
        <h1>Welcome to Sunshine!</h1>
          <p class="lead">Welcome to the Annual Sunshine Farmer's Market. Our farmer's are passionate
            about bringing you their finest whole foods. Don't forget to drop by every Saturday @10am.</p>
        <div id="special-offer">
          <h2>Special Offer!</h2>
          <p>Don't forget, this Saturday when you buy 10 cuts of meat, you get 10 cuts free!</p>
          <img src="/images/steak.png"
               alt="A juicy steak!" id="steak" width="50" height="50">
        </div> <!-- end div special-offer -->
      </div> <!-- end div main-content -->
      <div id="sidebar">
        <div class="widget">
          <h3>Our Location</h3>
          <address>
            <ul>
              <li>100 Farmer's Way</li>
              <li>Farmtowne, Barnsville</li>
            </ul>
          </address>
        </div>
        <div class="widget">
          <h3>Our Mission</h3>
          <p>To bring you the freshest, finest quality whole foods our farms can make!</p>
        </div>
        <div class="widget">
          <h3>Contact Us</h3>
          <p>Send us an email at:</p>
          <a href="mailto:farmers@market.com">farmers@mailinator.com</a>
        </div>
      </div> <!-- end div sidebar -->

    </div><!-- end div container -->

</body>
</html>