<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="floats.css">
    <title>CSS Floats</title>
</head>
<body id="floats">
  <div id="container" class="clearFix">
      <h1>CSS Floats</h1>
<!--      <img src="/images/mickey.jpg" id="mickey" alt="mickey mouse" width="200" height="200">-->
<!--      <div id="box1"></div>-->
      <div id="mainColumn">
          <p>
              I'm baby raclette cliche edison bulb shaman. Chambray migas DSA, shaman letterpress
              small batch synth pug marfa PBR&B literally meh. Fanny pack vibecession gluten-free
              cardigan chillwave. Organic man braid yes plz narwhal taxidermy typewriter cliche
              kinfolk PBR&B tumblr vibecession tilde ennui. Yr offal neutra, food truck coloring
              book chicharrones chillwave chia tattooed sartorial shoreditch Brooklyn +1.
              Synth vape skateboard PBR&B tumblr affogato ethical intelligentsia JOMO. Cronut copper
              mug waistcoat, fingerstache heirloom coloring book thundercats activated charcoal ugh
              church-key tacos. Small batch meggings butcher, tbh green juice polaroid pork belly sus
              celiac tofu seitan next level. Truffaut cloud bread echo park, authentic copper mug Brooklyn
              cupping. Scenester bruh pork belly, typewriter umami stumptown woke. Vaporware shabby chic
              plaid, woke poutine wayfarers letterpress lumbersexual. Lo-fi roof party subway tile quinoa.
          </p>
      </div>
      <div id="sidebar">
          <p>
              Synth vape skateboard PBR&B tumblr affogato ethical intelligentsia JOMO. Cronut copper
              mug waistcoat, fingerstache heirloom coloring book thundercats activated charcoal ugh
              church-key tacos. Small batch meggings butcher, tbh green juice polaroid pork belly sus
              celiac tofu seitan next level. Truffaut cloud bread echo park, authentic copper mug Brooklyn
              cupping. Scenester bruh pork belly, typewriter umami stumptown woke. Vaporware shabby chic
              plaid, woke poutine wayfarers letterpress lumbersexual. Lo-fi roof party subway tile quinoa.
          </p>
      </div>
<!--      <div class="clear"></div>-->
      <p >
      <div id="footer">
          <p>This is trademark and Copyright&copy;2023</p>
      </div>
          <img  id="mickey" src="/images/mickey.jpg" alt="happy mickey mouse"
               width="200" height="200">
          <p>
              Cupping literally organic biodiesel vegan cold-pressed food truck
              occupy flannel offal. Offal humblebrag solarpunk quinoa, you
              probably haven't heard of them edison bulb stumptown chia.
              Fashion axe pour-over lumbersexual trust fund snackwave vice
              bushwick dreamcatcher neutral milk hotel affogato yr. Hashtag
              pop-up before they sold out chambray hot chicken. Taiyaki
              stumptown franzen 90's cornhole banh mi sartorial wayfarers
              retro. Twee normcore hammock church-key, kinfolk gatekeep
              solarpunk jean shorts yes plz. Beard praxis fit migas shaman.
          </p>
      <p id="paragraph1">
          Cupping literally organic biodiesel vegan cold-pressed food truck
          occupy flannel offal. Offal humblebrag solarpunk quinoa, you
          probably haven't heard of them edison bulb stumptown chia.
          Fashion axe pour-over lumbersexual trust fund snackwave vice
          bushwick dreamcatcher neutral milk hotel affogato yr. Hashtag
          pop-up before they sold out chambray hot chicken. Taiyaki
          stumptown franzen 90's cornhole banh mi sartorial wayfarers
          retro. Twee normcore hammock church-key, kinfolk gatekeep
          solarpunk jean shorts yes plz. Beard praxis fit migas shaman.
      </p>
  </div> <!-- end div container -->
</body>
</html>